body{
    font: normal normal normal 15px/1.4em raleway, sans-serif !important;
}
html,body{
    height: 100%
}

#main-content{
    background: #f8f9fc;
}
#main-content .thumbnail{
    min-height: 190px !important;
}
.navbar-default{
    position: fixed!important;
    z-index: 10;
    left: 0;
    right: 0
}
.active-clinic .thumbnail{
    background: #7b8fef;
}
html,body {
    width:100%;
    height:100%;
}
#myChart {
    width:70%;
    height:70%;
    min-height:250px;
}
.zc-ref {
    display: none;
}

.report-div{
    margin-top: 80px;
    margin-left: 16.6%;
    background-color: #f8f9fc;
}
.dashboard .shadow:hover{
        -webkit-box-shadow: 10px 10px 5px 0px rgba(87,0,168,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(87,0,168,1);
        box-shadow: 10px 10px 5px 0px rgba(87,0,168,1) !important;
    }

.dashboard{
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    height: 100%;

}
.img{

    width: 100% !important;
    height: 15vw !important;
    object-fit: cover !important;

}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
  }

  
  .modal {
    position:fixed;
    top: 5px!important;
    left: 30%!important;
    width: 40%!important;
    height: auto!important;
    display:block !important;
    background-color: white;
    /* padding: 1rem; */
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30!important;
    animation: slide-down 300ms ease-out forwards;
    margin: auto;
  }
  
.form {
    padding-bottom: 0!important;
}
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.home-page{
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4e73df!important;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%)!important;
    height: 100%!important;
    width: 100% !important;
}
.sidebar {
    display: none;
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    z-index: 10;
}
@media (min-width: 768px) {
    .sidebar {
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        /*overflow-x: hidden;*/
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

        height: 100%;
        /*width: 13%;*/
        /*padding-left: 0;*/
        position: fixed;
        top: 50px;
        background-color: #4e73df;
        background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
        background-size: cover;

    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 10px;
    padding-left: 10px;
}
.nav-sidebar > a,
.nav-sidebar > a:hover,
.nav-sidebar > a:focus {
    color: #fff;
    background-color: #fff;
}
#side-bar{
    z-index: 10;
}
/* #side-bar ul {
    padding-left: 0 !important;
} */

#side-bar a{
    color: #fff !important;
    font-size: 18px;
    text-decoration: none;
}
#side-bar li {
    list-style: none;
    padding: 7px 10px;;
}



/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .card.shadow{
        min-height: 185px;
    }
}
.main .page-header {
    margin-top: 0;
}

.navbar-default{
    background: #fff;
    position: fixed;
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px!important;
    font-size: 10px;
}
.navbar-default  svg {
    width: 45px;
    height: 100%;
    margin: auto;
    fill: #9155A7;
    fill-opacity: 1;
    stroke: rgba(145, 85, 167, 1);
    stroke-width: 0px;
}
.navbar-brand{
    padding: 7px 15px 25px 15px !important;
}
.footer{
    padding: 30px 0;
    background: rgba(109, 204, 163, 1);
    color: #fff;
}
.relative{
    position: relative !important;
    left: 18%;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.bs-callout {
    padding: 20px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 4px;
    margin-left: 50px;
}
.bs-callout-xl {
    margin-left: 0px;
}
.bs-callout-lg {
    margin-left: 50px;
}
.bs-callout-md {
    margin-left: 100px;
}
.bs-callout-sm {
    margin-left: 150px;
}
.bs-callout-xs {
    margin-left: 200px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 4px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
    background-color: #f7f7f9;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
    background-color: #efffe8;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
    background-color: #fcf2f2;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    background-color: #fefbed;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
    background-color: #f0f7fd;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
/* bg transparency and disabled effects for Bootstrap callout */
.bs-callout-default.transparent {
    background-color: rgb(247, 247, 249, 0.7); /*#f7f7f9*/
}
.bs-callout-success.transparent {
    background-color: rgb(239, 255, 232, 0.7); /*#efffe8*/
}
.bs-callout-warning.transparent {
    background-color: rgb(254, 251, 237, 0.7); /*#fefbed*/
}
.bs-callout-danger.transparent {
    background-color: rgb(252, 242, 242, 0.7); /*#fcf2f2*/
}
.bs-callout-info.transparent {
    background-color: rgb(240, 247, 253, 0.7); /*#f0f7fd*/
}
.bs-callout.disabled {
    opacity: 0.4;
}
.text-decoration-none{
    text-decoration: none !important;
}
.text-primary{
    color: #4e73df!important;
}

.text-success {
    color: #1cc88a!important;
}
.text-info {
    color: #36b9cc!important;
}
.text-warning {
    color: #f6c23e!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-primary{
    border-left: .25rem solid #4e73df!important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;

}
.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
.shadow{
    box-shadow: 0 .15rem 1.75rem 0 rgba(64, 58, 69, 0.15) !important;
}

.home-page .shadow:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(87,0,168,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(87,0,168,1);
    box-shadow: 10px 10px 5px 0px rgba(87,0,168,1) !important;
}

ul.timeline .timeline-badge .glyphicon {
    top: 2px; }


